/* Global style
------------------------------*/
body {
    color: #343434;
}
/* Profile
------------------------------*/
header {
    background: #2f3061;
    /* Global style
------------------------------*/
}
.projects
{
    background: #F7FFF7;
}
/* Profile
------------------------------*/
/* Projects
------------------------------*/
/* work experience
------------------------------*/
/* education
------------------------------*/