header {
    background-image : url(../images/copy-space-background-curved-sheets-paper.jpg);
    background-size: cover;
    padding-left: 100px;
    color: #000000 ;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}
 