.work-experience {
    background: #80ffdb;
    padding-top: 100px;
    padding-bottom: 100px;
  
    &__content-wrap {
      padding: 20px;
    }
  
    &__item-details {
      .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
      }
    }
  }
  
