.navbar {
  background-color: #343434;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: right;
}
.navbar__list {
  list-style-type: none;
  padding: 10px;
  margin: -1px;
}
.navbar__item {
  display: inline-block;
  margin-right: 40px;
}
.navbar__link {
  font-weight: bold;
  font-size: 30px;
}
.navbar__link:hover {
  color: #ff7096;
}

header {
  background-image: url(../images/copy-space-background-curved-sheets-paper.jpg);
  background-size: cover;
  padding-left: 100px;
  color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.projects {
  background: #fbb1bd;
}
.projects h2 {
  padding-left: 150px;
}
.projects a {
  color: #2f3061;
}
.projects .btn {
  color: #f7fff7;
  background: #48bfe3;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(72, 191, 227, 0.7);
}

.project-item {
  overflow: hidden;
  align-items: left;
}
.project-item img {
  margin-right: 20px;
  float: left;
  margin-left: 150px;
  padding-bottom: 50px;
}
.project-item h3 {
  margin-top: 0;
}

.work-experience {
  background: #80ffdb;
  padding-top: 100px;
  padding-bottom: 100px;
}
.work-experience__content-wrap {
  padding: 20px;
}
.work-experience__item-details {
  padding-left: 350px;
}
.work-experience__item-details .job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.education {
  background-image: url(../images/various-colorful-stationery-school-office-pink-background-with-copyspace\ .jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education__item-details .job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.footer {
  background: #343434;
  color: #80ffdb;
  display: flex;
  justify-content: center;
}
.footer .contact-list {
  list-style-type: none;
  padding: 0;
}
.footer .contact-list a {
  padding: 15px;
  display: inline-block;
  color: #fbb1bd;
  font-weight: bold;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
body img {
  width: 300px;
}
body a {
  color: #fbb1bd;
  font-weight: bold;
}
body a:hover {
  text-decoration: none;
}
body h1 {
  font-size: 100px;
  line-height: 1;
}
body h2 {
  font-size: 45px;
}
body h1, body h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 80px 0;
}
.content-wrap h3 {
  margin-bottom: 0;
}
.content-wrap .item-details h3 + p {
  font-style: italic;
}
.content-wrap .item-details h3 ~ p {
  margin: 0;
}
.content-wrap .divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.content-wrap .divider > section:last-of-type {
  border-style: none;
}/*# sourceMappingURL=main.css.map */